<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890670894797-e1kcmjrbkuprrbvb1r4903uogh0nt9h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890670894797-e1kcmjrbkuprrbvb1r4903uogh0nt9h0</string>
	<key>API_KEY</key>
	<string>AIzaSyBfOBQaSPfEBhkmW56To2xhwHaoHfpe_FI</string>
	<key>GCM_SENDER_ID</key>
	<string>890670894797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hakanbaran.SnapchatClone-Firebase</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890670894797:ios:d1397eb3d2f3f082046384</string>
</dict>
</plist>